#header {
  background-color: white;
  height: 230px;
  border-radius: 20px;
  padding: 25px;
  margin-right: 5%;
  margin-left: 5%;
}

header {
    background-image: url("http://tinyimg.io/i/8muQOET.jpg");
  }


body {
  margin-right: 5%;
  margin-left: 5%;
}


h1 {
  text-align: center;
  font-size:70px
}

h2 {
  text-align:center;

}

hr {
  width: 90%;
  height: 5px;
  position: relative;
  background-color: black;
  margin-right: auto;
  margin-left: auto;
  margin-top: 5px;
  margin-bottom: 5px;
  border-width: 1px;
  border-color: green;
}

h3 {
  text-align: center;
  font-size:40px;
  font-family: Helvetica,sans-serif;
}

ul {
     padding: 12px;
     width: 100%;
     background-color: rgb(200,162,200);
     color: white;
     text-align: center;

}

   li {
     display: inline;
     font-size: 17px;
     padding: 0px 10px 0px 10px;
   }


   ul a:hover {
     background-color: blue;
   }


@media(max-width: 500px) {
  h1 {
    font-size: 40px;
  }

}

p {
  text-align: center;
}

p2 {
  float: inherit;
  margin: 15px;
}

#carouselExampleFade {
  width: 50%;
  margin-left: 22%;
}

.image{
  width:200px;
  text-align:center;
  display:block;
  padding-left: 10%;
  background-color: transparent;
  border: 1px solid transparent;
  align-items: center;
  margin-right: 10px;
  margin-bottom: 1px;
  float:left;
}

#index-gallery{
  width:465px;
}
